.container.main {
	margin-top: 7em;
}

i.icon {
	font-size: 2em;
}

#delete-form {
	display: inline;
}

.ui.basic.primary.button {
	transition: all .3s;
}

.ui.basic.primary.button:hover {
	background-color: #2185d0 !important;
	color: #fff !important;
}